.footer {
    grid-column: full-start/full-end;
    background: $color-secondary;
    padding: 8rem;
    &__navigation {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    }
    &__link {
        &:link,
        &:visited,
        &active {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            color: $color-white;
            font-size: 1.3rem;
            font-family: $font-display;
            padding: 1.5rem;
            text-transform: uppercase;
            transition: all 0.3s;
        }
        &:hover {
            background: rgba(255, 255, 255, 0.05);
            transform: translateY(-1rem);
        }
    }
    &__text {
        color: $color-grey-light-2;
        font-size: 1.5rem;
        text-align: center;
        width: 70%;
        margin: 5rem auto 0;
        @include respond(md) {
            width: 100%;
        }
    }
}
