.sidebar {
    background: $color-primary;
    grid-column: sidebar-start/sidebar-end;
    grid-row: 1/-1;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    // **************responsive*************
    @include respond(md) {
        grid-area: 1/1/2/-1;
        justify-content: flex-end;
        align-items: center;
    }
}
