.card {
    display: grid;
    grid-row-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    background: $color-grey-light-1;
    &__img {
        width: 100%;
        height: auto;
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    &__like {
        color: $color-primary;
        grid-column: 2/-1;
        grid-row: 1/2;
        align-self: flex-start;
        justify-self: end;
        background: transparent;
        outline: none;
        border: none;
        margin: 1rem;
        font-size: 2.5rem;
        text-shadow: 0 0 3rem rgba($color: #000, $alpha: 0.6);
        cursor: pointer;
        &:focus {
            animation: card-like-click 0.5s 3;
        }
    }

    &__title {
        grid-column: 1/-1;
        grid-row: 1/2;
        transform: translateY(50%);
        background: #101d2c;
        width: 80%;
        font-size: 1.6rem;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        justify-self: center;
        color: $color-white;
        padding: 1.2rem 2rem;
        align-self: end;
    }
    &__description {
        grid-column: 1/-1;
        display: grid;
        grid-row-gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        font-size: 1.3rem;
    }
    &__icon {
        color: $color-primary;
    }
    &__btn {
        grid-column: 1/-1;
    }
}
