@-webkit-keyframes card-like-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        text-shadow: 0 0 5rem rgba($color: #000, $alpha: 0.7);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes card-like-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        text-shadow: 0 0 5rem rgba($color: #000, $alpha: 0.7);
    }
    100% {
        transform: scale(1);
    }
}
