html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.container {
    display: grid;
    grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
        [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
        [center-start] repeat(
            8,
            [col-start] minmax(-webkit-min-content, 14rem) [col-end]
        )
        [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-columns:
        [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
        [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        )
        [center-end] minmax(6rem, 1fr) [full-end];
    @include respond(md) {
        grid-template-rows: 6rem calc(100vh - 6rem);
        grid-template-columns:
            [full-start] minmax(6rem, 1fr)
            [center-start] repeat(
                8,
                [col-start] minmax(min-content, 14rem) [col-end]
            )
            [center-end] minmax(6rem, 1fr) [full-end];
    }
}
